*{
    margin: 0;
}
body{
    background-color: rgb(30, 90, 110);
}
header{
    background-color: black;
    color: aliceblue; 
    text-align: center;
    text-transform: uppercase;  
   
}

img{
    height: 10em;
    width: 10em;
    border-radius: 50%/50%;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
}
main{
    margin: 10%;
    background-color: aliceblue;
    padding: 2%;
    border: 14px double black;
}


footer{
    text-align: center;
    background-color: black;
    color: whitesmoke;
    font-size: 1.2em;
}